﻿<head>
    <title>CrearPokemon</title>
</head>

<h2>Crear pokemon</h2>

<form action="/Pokemon/CrearPokemon" enctype="multipart/form-data" method="post">


    <div class="form-group">
        <label class="control-label">Nombre</label>
        <input type="text" class="form-control" name="Nombre" value="" />
    </div>

    <div class="form-group">
        <label class="control-label">Autor</label>
        <select name="AutorId" class="form-control">
            <option value="">-- Selecciona autor --</option>
            <option>Fuego</option>
            <option>Planta</option>
            <option>Veneno</option>
            <option>Volador</option>
            <option>Vicho</option>
        </select>
    </div>
    <div class="form-group">
        <input type="file" name="Files" multiple accept=".jpg,.png" />
    </div>

    <button class="btn btn-primary">Guadar</button>

</form>