﻿@{
    Layout = "";
}

<head>
    <title>Login</title>
</head>


<body>

    <h1>Iniciar Sesión</h1>
    <form action="/Auth/Login" method="post">
        @if (TempData["AuthMessage"] != null)
        {
            <p id="AuthMessage">@TempData["AuthMessage"]</p>
        }

        <input type="text" name="username" value="" />
        <input type="password" name="password" value="" />
        <button>Iniciar Sesión</button>
    </form>

</body>
