﻿
<head>
    <title>Pokemones</title>
</head>


<body>
    
    @foreach(Pokemon po in Model) { 
        <div>
            <a href="Pokemon/MostrarPokemon?id=@po.idPokemon">
                <img src="@po.imgPokemon" alt="Foto pokemon" width="200">
            </a>
            <div>
                <a href="Pokemon/MostrarPokemon?id=@po.idPokemon"><h1>@po.nomPokemon</h1></a>
                <a>@po.tipPokemon</a>
                <a></a>
            </div>

        </div>
    }

</body>
